
<ion-header>

  <ion-navbar>
    <ion-title>
     DETALLE PRODUCTO
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="show">
  <ion-list>

    <ion-item>
      <ion-label floating>Referencia</ion-label>
      <ion-input type="number" [(ngModel)] = "articulo.ref"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nombre Producto</ion-label>
      <ion-input type="text" [(ngModel)] = "articulo.nomp"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Precio Unitario</ion-label>
      <ion-input type="number" [(ngModel)] = "articulo.precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-textarea [(ngModel)] = "articulo.descrip"></ion-textarea>
    </ion-item>

    <div padding>
      <button ion-button block (click)="addArticulo()">Guardar Artículo</button>

      <button *ngIf='ref != 0' ion-button block (click)="delArticulo()" color="danger">Eliminar Artículo</button>
    </div>

  </ion-list>
</ion-content>
